body{
  background-color: black;
}

p{
  color: white;
}

button{
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  font-size: 26px;
  background-color: #333333;
  color: white;
  margin-right: 5px;
  padding: 1px 6px;
}

.clear-button{
  font-size: 17px;
}

.cal-button{
  background-color: #FEA00A;
}

.js-calculation{
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: Arial;
}
